<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120433002028-brd1gr2il2fiosudqa0f9kmoo4p878mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120433002028-brd1gr2il2fiosudqa0f9kmoo4p878mo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120433002028-qj36709lknfaaml98e0pkst9np5kc24g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3O8ueSk1T3rJDe5z8qErEtOMH3plkQck</string>
	<key>GCM_SENDER_ID</key>
	<string>120433002028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthcareapplication</string>
	<key>PROJECT_ID</key>
	<string>healthcare-7c5fb</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-7c5fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120433002028:ios:bacfb16b0e328bea9df389</string>
</dict>
</plist>